aiofiles >=23,<24
aiohttp >=3,<4
aioshutil >=1,<2
aiosignal >=1,<2
annotated-types <1
anyio >=4,<5
attrs >=23,<24
comfy_catapult @ git+https://github.com/realazthat/comfy-catapult.git@10a5e0fbcd0c6c5e35ede68647ca36911ce9fb29
frozenlist >=1,<2
fsspec==2024.2.0
h11 <1
h2 >4,<5
hpack >=4,<5
idna >=3,<4
multidict >=6,<7
pydantic >=2,<3
pydantic_core >=2,<3
pydash >=7,<8
python-slugify >=8,<9
PyYAML >=6,<7
rich >=13,<14
six >=1,<2
sniffio >=1,<2
text-unidecode >=1,<2
toml <1
typing_extensions >=4,<5
websockets >=12,<13
